header {
    background: linear-gradient(to right, #27b092, #40fbdc);
    /* background: red; */
    color: #f1f1f1;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header_title {
    padding-bottom: 3px;
    color: #ebf6f6;
}

#header_title h1 {
    margin: 0px;
}

.avatar {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
    margin-left: 0px;
    width: auto;
    height: auto;
}

#user_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#username {
    text-align: center;
}

#top_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.puces_header {
    list-style-type: none;
    padding: 3px;
}

#navigation {
    margin-right: auto;
    margin-bottom: 30px;
    align-self: flex-end;
    display: block;
}

main {
    padding-left: 200px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list_header {
    padding: 0px;
}

.profile_infos {
    align-self: flex-start;
}








body {
    background-color: #ebf6f6;
    font-family: 'Ubuntu', sans-serif;
}

#login_block {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin-top: 50px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
}

ul {
    color: #558baa;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    margin: auto;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label, h6, h5, h4, h3, h2 {
    color: #558baa;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

h5 {
    font-size: 18;
}

h3 {
    margin: auto;
}

.follow_username {
    font-size: 25;
    margin: 0px;
    padding: 0px;
}

label {
    margin-left: 55px;
    padding-top: 40px;
    font-size: 18px;
}

input, #id_description, #id_body {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Ubuntu', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

input:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

button {
    cursor: pointer;
    border-radius: 5em;
    background: linear-gradient(to right, #27b092, #40fbdc);
    color: #fff;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Ubuntu', sans-serif;
    /* margin-left: 35%; */
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    color: #566b6a;
}

button:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
}

.subscribe {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #566b6a;
    /* padding-top: 15px; */
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #ebf6f6;
    text-decoration: none;
    padding: 5px;    
}

a:hover, #header_title:hover {
    color: #ebf6f6;
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 3);
}

.helptext, #profile_pic_form label, #profile_picture-clear_id {
    display: none;
}

#profile_pic_form a {
    color: rgba(0, 0, 0, 0.7);
}

#post_button {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}

.ask {
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
}

article {
    background-color: #4a5e5944;
    width: 60%;
    padding: 10px;
    margin-top: 50px;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    flex-direction: column;
}

.author, .answer_to {
    font-size: 20;
    text-decoration: underline;
    margin-top: 0px;
    margin-bottom: 0px;
}

.answer_to, #link_password_changed {
    color: rgba(36, 82, 76, 0.87);
    margin-top: 3px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.top_right_in_content {
    display: flex;
    flex-direction: column;
}

.modify_link, .voir_avis, .button_avis {
    margin: auto;
    margin-top: 0px;
}

#id_body {
    margin: auto;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    /* resize: none;
    white-space: normal; */
}

#button_password_changed {
    color: rgba(36, 82, 76, 0.87);
    margin-top: 15px;
    font-size: 18px;
    margin-right: 5px;
    margin-left: 5px;
}

.star {
    width: 15px;
    height: 15px;
    display: inline;
}

.book_cover {
    display: block;
    max-width:300px;
    max-height:500px;
    width: auto;
    height: auto;
    border-radius: 4%;
}

.rating {
    text-decoration:none;
}

.star_box {
    margin-right: 15px;
    margin-left: auto;
}
