{% load review_extras %}
<article>
    <div class="entete">
        <div>
            <a href="{% url 'flux-book' review.ticket.author review.ticket.title %}"><h3 class="title">{{ review.ticket.title }}</h3></a>
            <h4 class="author">{{ review.ticket.author }}</h4>
            <h4 class="answer_to">En réponse à <a href="{% url 'flux-user' review.ticket.user.id %}">{% get_poster_display review.user %}</a></h4>
        </div>
        <div class="top_right_in_content">
            {% if not hide_button %}
                <a href="{% url 'review-create' review.ticket.id %}" id="button_avis"><button>Je donne mon avis</button></a>
            {% endif %}
            {% if review.user == user %}
                <a href="{% url 'review-modify' review.id %}" class="modify_link">Modifier mon avis</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        {% if review.ticket.image %}
            <img src="{{ review.ticket.image.url }}">
        {% endif %}
        <div class="details">
            <h5>{{ review.headline }}</h5>
            <h2>{{ review.rating }}/5</h2>
            <p class="description">{{ review.body }}</p>
            <p>{{ review|datetime_display }}</p>
            <p>Avis posté par <a href="{% url 'flux-user' review.ticket.user.id %}">{% get_poster_display review.user %}</a>.</p>
        </div>
    </div>
</article>