{% load review_extras %}
<article>
    <div class="entete">
        <div>
            <a href="{% url 'flux-book' ticket.author ticket.title %}"><h3 class="title">{{ ticket.title }}</h3></a>
            <h4 class="author">-{{ ticket.author }}-</h4>
        </div>
        <div class="top_right_in_content">
            {% if not hide_button %}
                <a href="{% url 'review-create' ticket.id %}" class="button_avis"><button>Je donne mon avis</button></a>
            {% endif %}
                <a href="{% url 'flux-ticket' ticket.id %}" class="voir_avis">Voir tous les avis</a>
            {% if ticket.user == user %}
                <a href="{% url 'ticket-modify' ticket.id %}" class="modify_link">Modifier ma demande</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" class="book_cover">
        {% endif %}
        <div class="details">
            <h5>{{ ticket.description }}</h5>
            <p>{{ ticket|datetime_display }}</p>
            {% if ticket.user.username == user.username %}
                <p>Un avis sur ce livre est demandé par <a href="{% url 'flux-self' %}">{% get_poster_display ticket.user %}</a>.</p>
            {% else %}
                <p>Un avis sur ce livre est demandé par <a href="{% url 'flux-user' ticket.user.id %}">{% get_poster_display ticket.user %}</a>.</p>
            {% endif %}
        </div>
    </div>
</article>