{% load review_extras %}
<article>
    <div class="entete">
        <div class="title_author">
            <a href="{% url 'flux-book' ticket.author ticket.title %}"><h3 class="title">{{ ticket.title }}</h3></a>
            <h4 class="author">-{{ ticket.author }}-</h4>
            <p class="datetime"><i>{{ ticket|datetime_display }}</i></p>
            <p class="datetime"><i>Demande</i></p>
        </div>
        <div class="footer_article">
            {% if ticket.user.username == user.username %}
                <img src="{{ ticket.user.profile_picture.url }}" class="img_article">
                <a href="{% url 'flux-self' %}">{% get_poster_display ticket.user %}</a>
            {% else %}
                <img src="{{ ticket.user.profile_picture.url }}" class="img_article">
                <a href="{% url 'flux-user' ticket.user.id %}">{% get_poster_display ticket.user %}</a>
            {% endif %}
        </div>
        <div class="top_right_in_content">
            {% if not hide_button %}
                <a href="{% url 'review-create' ticket.id %}" class="button_avis"><button>Je donne mon avis</button></a>
            {% endif %}
                <a href="{% url 'flux-ticket' ticket.id %}" class="voir_avis">Voir tous les avis</a>
            {% if ticket.user == user %}
                <a href="{% url 'ticket-modify' ticket.id %}" class="modify_link">Modifier ma demande</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        {% if ticket.image %}
            <img src="{{ ticket.image.url }}" class="book_cover">
        {% endif %}
        <div class="details">
            <h5>{{ ticket.description }}</h5>
        </div>
    </div>
</article>