{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    {% include 'review/review_ticket_button.html' %}
    {% for instance in tickets_and_reviews %}
        {% if instance|model_type == "Ticket" %}
            {%  include 'review/partials/ticket_snipet.html' with ticket=instance %}
        {% elif instance|model_type == "Review" %}
            {%  include 'review/partials/review_snipet.html' with review=instance %}
        {% endif %}
    {% endfor %}
{% endblock content %}
